#color{background-color: black;
display: flex;
justify-content: center;}
.branco{width: 80px;
display: flex;
justify-content: center;
height: 80px;
background-color: white;}
.preto{width: 80px;
display: flex;
justify-content: center;
height: 80px;
background-color: grey;}
.tabuleiro{width: 5100px;
    height: 5100px;
    background-color: white;
    display: flex}
    .linha{display: flex;}
